<article>
  <blockquote>
    <p><strong><span localeKey="project.releaseYear"></span>:</strong> 2014.</p>
    <p><strong><span localeKey="project.task"></span>:</strong>&nbsp;<span localeKey="project.justprivat.task"></span></p>
  </blockquote>
  <p localeKey="project.justprivat.intro"></p>
  <figure>
    <p><img src="assets/images/bucket/justprivat/large-screen.png" alt="'project.justprivat.main' | localize" width="1280" height="1366"></p>
    <figcaption localeKey="project.justprivat.serviceDescription"></figcaption>
  </figure>

  <figure>
    <p><img src="assets/images/bucket/justprivat/mobile.png" alt="'project.justprivat.mobileMain' | localize" width="460" height="1733"></p>
    <figcaption localeKey="project.justprivat.adaptiveSite"></figcaption>
  </figure>

  <p localeKey="project.justprivat.twoLanguages"></p>
  <figure>
    <p><img src="assets/images/bucket/justprivat/languages.png" alt="'project.justprivat.uaVersion' | localize" width="880" height="1194"></p>
    <figcaption localeKey="project.justprivat.uaVersion"></figcaption>
  </figure>

  <p localeKey="project.justprivat.blogDescribesCases"></p>
  <figure>
    <p><img src="assets/images/bucket/justprivat/blog.png" alt="'project.justprivat.cases' | localize" width="866" height="914"></p>
  </figure>

  <p localeKey="project.justprivat.archivedIn"></p>
</article>
