<div *ngIf="currentLanguage === 'ru'">
  <breadcrumbs item-is-archive="true" name="Интернет-витрина «Фуд Маркет Груп»"></breadcrumbs>
  <article>
    <blockquote><strong>Задача:</strong> создать интернет-витрину для распространителя импортных продуктов питания.</blockquote>
    <p>В студии разработали привлекательный сайт с возможностями интернет-витрины и блога.</p>
    <figure>
      <p><img src="/assets/images/bucket/fmg/small-screen.png" alt="Главная страница" width="1007" height="1165"></p>
      <figcaption>На главной показываем заморские вкусности</figcaption>
    </figure>

    <figure>
      <p><img src="/assets/images/bucket/fmg/large-screen.png" alt="Главная на большом экране" width="1393" height="550"></p>
      <figcaption>Композиция подстраивается под размер экрана</figcaption>
    </figure>

    <figure>
      <p><img src="/assets/images/bucket/fmg/products.png" alt="Раскладка каталога" width="1280" height="657"></p>
      <figcaption>Раскладка каталога</figcaption>
    </figure>

    <p>Сайт ориентирован как на потребителей товаров, так и на потенциальных бизнес-партнеров. Карта представительств, созданная на основе карт Гугл, показывает покрытие торговой сетью территории Украины и приглашает к сотрудничеству дистрибьюторов.</p>
    <figure>
      <p><img src="/assets/images/bucket/fmg/map.png" alt="Карта представительств" width="1278" height="873"></p>
      <figcaption>Карта представительств</figcaption>
    </figure>

    <p>Работа сдана в архив в 2015 году.</p>
  </article>
  <p><a [routerLink]="'/'">Вернуться к списку проектов</a></p>
</div>
<div *ngIf="currentLanguage === 'ua'">
  <breadcrumbs item-is-archive="true" name="Інтернет-вітрина «Фуд Маркет Груп»"></breadcrumbs>
  <article>
    <blockquote>
      <strong>Задача:</strong> створити інтернет-вітрину для розповсюджувача імпортних продуктів харчування.
    </blockquote>
    <p>У студії розробили привабливий сайт з можливостями інтернет-вітрини та блога.</p>
    <figure>
      <p><img src="/assets/images/bucket/fmg/small-screen.png" alt="Головна сторінка" width="1007" height="1165"></p>
      <figcaption>На головній показуємо заморські ласощі</figcaption>
    </figure>
    <figure>
      <p><img src="/assets/images/bucket/fmg/large-screen.png" alt="Головна на великому екрані" width="1393" height="550"></p>
      <figcaption>Композиція адаптується під розмір екрану</figcaption>
    </figure>
    <figure><p><img src="/assets/images/bucket/fmg/products.png" alt="Сторінка каталога" width="1280" height="657"></p>
      <figcaption>Сторінка каталога</figcaption>
    </figure>

    <p>Сайт орієнтовано як на споживачsd товарів, так і на потенційних бізнес-партнерів. Мапа представництв, яку збудовано на базі мапи Гугл, показує покриття торговельною мережею території України і заохочує до співпраці дистриб’юторів.</p>
    <figure>
      <p><img src="/assets/images/bucket/fmg/map.png" alt="Мапа представництв" width="1278" height="873"></p>
      <figcaption>Мапа представництв</figcaption>
    </figure>
    <p>Роботу здано до архіву в 2015 році.</p>
  </article>
  <p><a [routerLink]="'/'">Повернутися до списку проектів</a></p>
</div>

<div *ngIf="currentLanguage === 'en'">
  <breadcrumbs item-is-archive="true" name="Online showcase for “Food Market Group”"></breadcrumbs>
  <h2>The article in this language is coming soon...</h2>
</div>
