<article>
  <blockquote>
    <p><strong><span localeKey="project.releaseYear"></span>:</strong> 2014.</p>
    <p><strong><span localeKey="project.task"></span>:</strong> <span localeKey="project.fmg.task"></span></p>
  </blockquote>
  <p localeKey="project.fmg.intro"></p>
  <figure>
    <p><img src="assets/images/bucket/fmg/small-screen.png" alt="'project.fmg.main' | localize" width="1007" height="1165"></p>
    <figcaption localeKey="project.fmg.delights"></figcaption>
  </figure>

  <figure>
    <p><img src="assets/images/bucket/fmg/large-screen.png" alt="'project.fmg.bigScreen' | localize" width="1393" height="550"></p>
    <figcaption localeKey="project.fmg.flexibleComposition"></figcaption>
  </figure>

  <figure>
    <p><img src="assets/images/bucket/fmg/products.png" alt="'project.fmg.catalog' | localize" width="1280" height="657"></p>
    <figcaption localeKey="project.fmg.catalog"></figcaption>
  </figure>

  <p localeKey="project.fmg.siteOrientation"></p>
  <figure>
    <p><img src="assets/images/bucket/fmg/map.png" alt="'project.fmg.representativesMap' | localize" width="1278" height="873"></p>
    <figcaption localeKey="project.fmg.representativesMap"></figcaption>
  </figure>

  <p localeKey="project.fmg.archivedIn"></p>
</article>
