<div class="about-us">
  <div class="about-us__block">
    <img class="about-us__avatar" src="../../assets/images/ania.jpg" width="110" height="110">
    <div class="about-us__info">
      <h3 class="about-us__title" localeKey="about.ania"></h3>
      <a class="about-us__email" href="mailto:ania@pereborstudio.com">ania@pereborstudio.com</a>
      <p class="about-us__role" localeKey="about.aniasRoles"></p>
    </div>
  </div>

  <div class="about-us__block">
    <img class="about-us__avatar" src="../../assets/images/serg.jpg" width="110" height="110">
    <div class="about-us__info">
      <h3 class="about-us__title" localeKey="about.serg"></h3>
      <a class="about-us__email" href="mailto:serg@pereborstudio.com">serg@pereborstudio.com</a>
      <p class="about-us__role" localeKey="about.sergsRoles"></p>
    </div>
  </div>
</div>

<article>
  <p localeKey="portfolio.whatWeDo"></p>

  <div class="projects">
    <div class="project project--theme--{{project.theme}}"
         [class.project--archived]="!!project.archived"
         *ngFor="let project of projects"
         [attr.href]="project.href"
         [style.background-image]="'url(' + project.image + ')'">
      <a class="project__link" [routerLink]="project.routerLink" *ngIf="project.routerLink"></a>
      <a class="project__link" [href]="project.href" *ngIf="project.href"></a>
      <span class="project__link" *ngIf="!project.href && !project.routerLink"></span>
      <p class="project__description" [localeKey]="project.description"></p>
    </div>
  </div>
</article>
