<article>
  <p localeKey="portfolio.whatWeDo"></p>
  <h2>2013</h2>
  <ul>
    <li><span archive></span><span localeKey="portfolio.whoshoe">[0]<a [routerLink]="'/projects/whoshoe'">[1]</a>[2]</span></li>
    <li><span localeKey="portfolio.perebor">[0]<a href="http://pereborstudio.com">[1]</a>[2]</span></li>
  </ul>
  <h2>2014</h2>
  <ul>
    <li><span localeKey="portfolio.feedthedevs">[0]<a href="http://feedthedevs.herokuapp.com">[1]</a>[2]<a href="http://stepansuvorov.com">[3]</a>[4]</span></li>
    <li><span archive></span><span localeKey="portfolio.justprivat">[0]<a [routerLink]="'/projects/justprivat'">[1]</a>[2]</span></li>
    <li><span localeKey="portfolio.lampRepair">[0]<a href="http://remont-far.in.ua">[1]</a>[2]</span></li>
    <li><span archive></span><span localeKey="portfolio.fmg">[0]<a [routerLink]="'/projects/fmg'">[1]</a>[2]</span></li>
  </ul>
  <h2>2015</h2>
  <ul>
    <li><span localeKey="portfolio.xmasBeard">[0]<a href="https://play.google.com/store/apps/details?id=com.hiploaded.christmasbeard">[1]</a>[2]</span></li>
    <li><span localeKey="portfolio.careerStudio">[0]<a href="http://career-studio.com.ua">[1]</a>[2]</span></li>
    <li><span archive></span><span localeKey="portfolio.peopleInBusiness">[0]<a [routerLink]="'/projects/peopleinbusiness'">[1]</a>[2]</span></li>
    <li><span localeKey="portfolio.spender">[0]<a href="http://spender.pereborstudio.com">[1]</a>[2]</span></li>
  </ul>
  <h2>2017</h2>
  <ul>
    <li><span localeKey="portfolio.dachaInternet">[0]<a href="http://s2.internet365.ru">[1]</a>[2]</span></li>
    <li><span localeKey="portfolio.unwritten">[0]<a href="http://unwritten.pereborstudio.com">[1]</a>[2]</span></li>
  </ul>
  <h4><span localeKey="portfolio.rabbit"></span> <img src="assets/images/logo_100x100_transp_dark.png"></h4>

  <h2 localeKey="portfolio.dropUsALine"></h2>
  <p>
    <span localeKey="portfolio.contact.ania"></span><a href="mailto:ania&#64;pereborstudio.com">ania&#64;pereborstudio.com</a><br/>
    <span localeKey="portfolio.contact.serg"></span><a href="mailto:serg&#64;pereborstudio.com">serg&#64;pereborstudio.com</a>
  </p>
  <div class="hr"></div>
  <p class = "ref" localeKey="portfolio.ref"></p>
</article>
