<header>
  <div class="row">
    <a class="logo" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><h1 localeKey="base.header">[0]<small class="extras">[1]</small></h1></a>
    <lang-switcher></lang-switcher>
  </div>
  <div class="row">
    <breadcrumbs [@shrinkOut] *ngIf="breadcrumb$ | async" [itemIsArchive]="true" [name]="(breadcrumb$ | async) | localize"></breadcrumbs>
  </div>
</header>
<router-outlet></router-outlet>
<footer>
  <div class="row">
    <p class="ref" localeKey="base.footer">[0]<span>&nbsp;<a href="mailto:request@pereborstudio.com">request@pereborstudio</a></span></p>
  </div>
</footer>
