<div *ngIf="currentLanguage === 'ru'">
  <breadcrumbs item-is-archive="true" name="Сайт компании «People in Business»"></breadcrumbs>
  <article>
    <p>Работа сдана в архив в 2016 году.</p>
  </article>
  <p><a [routerLink]="'/'">Вернуться к списку проектов</a></p>
</div>
<div *ngIf="currentLanguage === 'ua'">
  <breadcrumbs item-is-archive="true" name="Сайт компанії «People in Business»"></breadcrumbs>
  <article>
    <p>Роботу здано до архіву в 2016 році.</p>
  </article>
  <p><a [routerLink]="'/'">Повернутися до списку проектів</a></p>
</div>

<div *ngIf="currentLanguage === 'en'">
  <breadcrumbs item-is-archive="true" name="The website for “People in Business”"></breadcrumbs>
  <h2>The article in this language is coming soon...</h2>
</div>
