<div *ngIf="currentLanguage === 'ru'">
  <breadcrumbs item-is-archive="true" name="Интернет-магазин обуви «Чей туфля?»"></breadcrumbs>
  <article>
    <blockquote>
      <p><strong>Год выпуска:</strong> 2013.</p>
      <p><strong>Задача:</strong> создать для обувного магазина торговую интернет-площадку.</p>
    </blockquote>
    <p>В студии разработали торговую марку, логотип и сайт магазина дешевой обуви. Название «Чей туфля?», сразу принятое заказчиком, определило шутливый стиль взаимодействия интерфейса с пользователем.</p>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/003.png" alt="Логотип" width="225" height="95"></p>
      <figcaption>В студии разработали торговую марку и логотип</figcaption>
    </figure>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/002.png" alt="Синичка на ботинке" width="141" height="115"></p>
    </figure>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/006.png" alt="Строчка меню" width="188" height="49"></p>
      <figcaption>Строка меню оформлена с&nbsp;помощью швейной машинки</figcaption>
    </figure>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/007.png" alt="Деньги под ботинком" width="158" height="113"></p>
      <figcaption>Экономная обувь позволяет владельцу сорить деньгами</figcaption>
    </figure>
    <p>Страница 404 подозревает в&nbsp;слишком любопытных посетителях чёрных геологов, а страница серверной ошибки проклинает непостоянство мира.</p>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/008.png" alt="Понятно. Нефть ищете?" width="310" height="285"></p>
    </figure>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/030.png" alt="Будь проклят тот день, когда я сел за баранку этого пылесоса!" width="715" height="273"></p>
    </figure>
    <p>В&nbsp;каталоге бесконечный список товаров. Слева интуитивно понятные фильтры, блок с&nbsp;которыми плывет вслед за прокруткой окна.</p>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/010.png" alt="Блок с фильтрами" width="281" height="370"></p>
    </figure>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/011.png" alt="Неточный размер" width="300" height="336"></p>
      <figcaption>Для тех, кто готов купить туфли на&nbsp;размер меньше, лишь&nbsp;бы блестели, мы приготовили опцию «неточный размер»</figcaption>
    </figure>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/014.png" alt="Плавающий блок" width="671" height="626"></p>
      <figcaption>Блок с фильтрами плывет вслед за прокруткой окна</figcaption>
    </figure>
    <p>Иногда обувь уходит немного отдохнуть.</p>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/009.png" alt="Обувь спряталась" width="567" height="116"></p>
    </figure>
    <p>Сайт правильно работает и на маленьком экране смартфона, и на дизайнерском мониторе. Неважное прячется. Кстати, все ползунки и перетаскивания адаптированы под жесты тачскрина.</p>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/013.png" alt="На большом мониторе" width="1974" height="781"></p>
      <figure>
      </figure>
      <p><img src="assets/images/bucket/whoshoe/028.png" alt="На большом мониторе" width="1241" height="824"></p>
    </figure>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/012.png" alt="На смартфоне" width="473" height="734"></p>
    </figure>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/029.png" alt="На смартфоне" width="640" height="667"></p>
      <figcaption>Баннеры на главной простраиваются в красивую сетку в зависимости от разрешения экрана</figcaption>
    </figure>
    <p>В карточке товара покупатель выбирает размер обуви с помощью ползунка, в котором показан приблизительный размер ноги в сантиметрах. На всякий случай мы добавили всю таблицу размеров во всплывающем окне помощника.</p>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/016.png" alt="Карточка товара" width="822" height="856"></p>
      <figcaption>Под карточкой товара показываем список обуви того же типа, примерно похожей по цене.</figcaption>
    </figure>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/015.png" alt="Галерея фотографий" width="1256" height="847"></p>
      <figcaption>Качественные фотографии в галерее позволяют рассмотреть обувь крупным планом.</figcaption>
    </figure>
    <p>В магазине на мелкий опт (при покупке от двух или от пяти пар) действуют скидки.</p>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/017.png" alt="От двух пар" width="640" height="397"></p>
    </figure>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/018.png" alt="От пяти пар" width="295" height="381"></p>
      <figcaption>Чем больше заказ, тем больше скидки.</figcaption>
    </figure>
    <p>В корзине предлагаем покупателю пересмотреть состав заказа и оплатить его на той же странице.</p>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/019.png" alt="Корзина" width="534" height="328"></p>
    </figure>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/020.png" alt="Форма заказа" width="736" height="594"></p>
    </figure>
    <p>На форме заказа вежливые и понятные подсказки. Покупатель сразу узнаёт, как магазин использует его личные данные.</p>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/021.png" alt="Номер телефона" width="612" height="55"></p>
    </figure>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/022.png" alt="Личные данные" width="751" height="67"></p>
    </figure>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/023.png" alt="Способы доставки" width="650" height="112"></p>
    </figure>
    <p>К способам доставки и оплаты даны короткие пояснения.</p>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/025.png" alt="Способы доставки" width="536" height="116"></p>
    </figure>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/027.png" alt="Способы оплаты" width="539" height="78"></p>
      <figcaption>Доставка курьерской службой оплачивается отдельно.</figcaption>
    </figure>
    <p>Мы зарегистрируем пользователей, которые согласятся на создание профиля. Мы даже сгенерируем им пароль, если они не хотят придумывать его.</p>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/024.png" alt="Придумайте пароль" width="764" height="81"></p>
      <figcaption>Пароль будет сгенерирован из нескольких легко запоминаемых английских слов. Это куда надёжнее и проще, чем непонятные комбинации с цифрами и знаками препинания.</figcaption>
    </figure>
    <p>Для входа используется виджет в правом верхнем углу. Для смелых есть кнопка «показать пароль»</p>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/004.png" alt="Вход" width="225" height="166"></p>
      <p>И вариант для смелых:</p>
      <p><img src="assets/images/bucket/whoshoe/005.png" alt="Показать пароль" width="221" height="89"></p>
    </figure>
    <p>Вуаля!</p>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/026.png" alt="Спасибо!" width="580" height="110"></p>
    </figure>

    <p>Работа сдана в архив в 2014 году.</p>
  </article>
  <p><a [routerLink]="'/'">Вернуться к списку проектов</a></p>
</div>

<div *ngIf="currentLanguage === 'ua'">
  <breadcrumbs item-is-archive="true" name="Інтернет-магазин взуття «Чий туфля?»"></breadcrumbs>
  <article>
    <blockquote>
      <p><strong>Год выпуска:</strong> 2013.</p>
      <p><strong>Задача:</strong> створити торгівельний інтернет-майданчик для магазина взуття.</p>
    </blockquote>
    <p>В студії розробили торгівельну марку, логотип і сайт магазина дешевого взуття. Назва «Чий туфля?», що її одразу ж було погоджено замовником, визначила жартівливий стиль взаємодії інтерфейса з користувачем.</p>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/003.png" alt="Логотип" width="225" height="95"></p>
      <figcaption>В студії розробили торгівельну марку та логотип</figcaption>
    </figure>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/002.png" alt="Синиця на чоботі" width="141" height="115"></p>
    </figure>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/006.png" alt="Рядок меню" width="188" height="49"></p>
      <figcaption>Рядок меню оформлено за&nbsp;допомогою швейної машини</figcaption>
    </figure>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/007.png" alt="Гроші під черевиком" width="158" height="113"></p>
      <figcaption>Економне взуття дозволяє володареві смітити грошима</figcaption>
    </figure>
    <p>Сторінка 404 підозрює у&nbsp;надто допитливих відвідувачах чорних геологів, а сторінка серверної помилки проклинає мінливість сущого.</p>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/008.png" alt="Зрозуміло. Нафту шукаєте?" width="310" height="285"></p>
    </figure>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/030.png" alt="Чорт забери той день, коли я сів за кермо цього пилососа!" width="715" height="273"></p>
    </figure>
    <p>У&nbsp;каталозі незкінченний список товарів. Зліва інтуїтивно зрозумілі фільтри, блок із&nbsp;якими пливе слідом за прокруткою вікна.</p>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/010.png" alt="Блок із фільтрами" width="281" height="370"></p>
    </figure>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/011.png" alt="Неточний розмір" width="300" height="336"></p>
      <figcaption>Для тих, хто готовий купити черевики на&nbsp;розмір менші, аби&nbsp;тільки блестіли, ми приготували опцію «неточний розмір»</figcaption>
    </figure>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/014.png" alt="Блок, що плаває" width="671" height="626"></p>
      <figcaption>Блок із фільтрами пливе слідом за прокруткою вікна</figcaption>
    </figure>
    <p>Іноді взуття ховається, аби трохи перепочити.</p>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/009.png" alt="Взуття сховалося" width="567" height="116"></p>
    </figure>
    <p>Сайт правильно відображається як на маленькому екрані смартфона, так і на дизайнерському моніторі. Неважливе ховається. До речі, усі повзунки та перетаскування адаптовано під жести тачскріна.</p>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/013.png" alt="На великому моніторі" width="1974" height="781"></p>
      <figure>
      </figure>
      <p><img src="assets/images/bucket/whoshoe/028.png" alt="На великому моніторі" width="1241" height="824"></p>
    </figure>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/012.png" alt="На смартфоні" width="473" height="734"></p>
    </figure>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/029.png" alt="На смартфоні" width="640" height="667"></p>
      <figcaption>Банери на головній шикуються в гарну сітку в залежності від роздільної здатності дисплея</figcaption>
    </figure>
    <p>В катці товару покупець обирає розмір взуття за допомогою повзунка, в якому вказано приблизний розмір ноги в сантиметрах. Про всяк випадок ми додали повну таблицю розмірів у попапі помічника.</p>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/016.png" alt="Картка товару" width="822" height="856"></p>
      <figcaption>Під карткою товару виводимо список взуття того ж типу, близького за ціною.</figcaption>
    </figure>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/015.png" alt="Галерея світлин" width="1256" height="847"></p>
      <figcaption>Якісні світлини в галереї дозволяють роздивитися взуття крупним планом.</figcaption>
    </figure>
    <p>В магазині на дрібний опт (при покупці від двох або від п’ятьох пар) діють знижки.</p>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/017.png" alt="Від двох пар" width="640" height="397"></p>
    </figure>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/018.png" alt="Від п’ятьох пар" width="295" height="381"></p>
      <figcaption>Що більше замовлення, тим більші знижки.</figcaption>
    </figure>
    <p>В кошику пропонуємо покупцеві передивитись склад замовлення та оплатити його на тій самій сторінці.</p>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/019.png" alt="Кошик" width="534" height="328"></p>
    </figure>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/020.png" alt="Форма замовлення" width="736" height="594"></p>
    </figure>
    <p>На формі замовлення є ввічливі та прозорі підказки. Покупець одразу дізнається, як магазин використовуватиме його персональні дані.</p>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/021.png" alt="Номер телефона" width="612" height="55"></p>
    </figure>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/022.png" alt="Персональні дані" width="751" height="67"></p>
    </figure>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/023.png" alt="Способи доставки" width="650" height="112"></p>
    </figure>
    <p>До способів доставки та оплати надано короткі пояснення.</p>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/025.png" alt="Способи доставки" width="536" height="116"></p>
    </figure>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/027.png" alt="Способи оплати" width="539" height="78"></p>
      <figcaption>Доставка кур’єрською службою тарифікується окремо.</figcaption>
    </figure>
    <p>Мы зареєструємо користувачів, які погодяться на створення профілю. Ми навіть згенеруємо пароль, якщо вони не бажають його вигадувати.</p>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/024.png" alt="Вигадайте пароль" width="764" height="81"></p>
      <figcaption>Пароль буде згенеровано з кількох англійських слів, що легко запам’ятати. Це набагато надійніше та простіше за незрозумілі комбінації з цифрами та розділовими знаками.</figcaption>
    </figure>
    <p>Для входу служить віджет в правому верхньому кутку. Для сміливих маємо кнопку «показати пароль»</p>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/004.png" alt="Вхід" width="225" height="166"></p>
      <p>Також варіант для сміливих:</p>
      <p><img src="assets/images/bucket/whoshoe/005.png" alt="Показати пароль" width="221" height="89"></p>
    </figure>
    <p>Вуаля!</p>
    <figure>
      <p><img src="assets/images/bucket/whoshoe/026.png" alt="Дякуємо!" width="580" height="110"></p>
    </figure>
    <p>Роботу здано до архіва у 2014 році.</p>
  </article>
  <p><a [routerLink]="'/'">Повернутися до списку проектів</a></p>
</div>

<div *ngIf="currentLanguage === 'en'">
  <breadcrumbs item-is-archive="true" name="“Who Shoe” e-commerce shop"></breadcrumbs>
  <h2>The article in this language is coming soon...</h2>
</div>
