<article>
  <blockquote>
    <p><strong><span localeKey="project.releaseYear"></span>:</strong> 2013.</p>
    <p><strong><span localeKey="project.task"></span>:</strong> <span localeKey="project.whoshoe.task"></span></p>
  </blockquote>
  <p localeKey="project.whoshoe.intro"></p>
  <figure>
    <p><img src="assets/images/bucket/whoshoe/003.png" [alt]="'project.whoshoe.logo' | localize" width="225" height="95"></p>
    <figcaption localeKey="project.whoshoe.trademarkAndLogo"></figcaption>
  </figure>
  <figure>
    <p><img src="assets/images/bucket/whoshoe/002.png" [alt]="'project.whoshoe.bluebirdOnBoot' | localize" width="141" height="115"></p>
  </figure>
  <figure>
    <p><img src="assets/images/bucket/whoshoe/006.png" [alt]="'project.whoshoe.menuLine' | localize" width="188" height="49"></p>
    <figcaption localeKey="project.whoshoe.menuLineIsSewed"></figcaption>
  </figure>
  <figure>
    <p><img src="assets/images/bucket/whoshoe/007.png" [alt]="'project.whoshoe.moneyUnderTheBoot' | localize" width="158" height="113"></p>
    <figcaption localeKey="project.whoshoe.moneyMoneyMoney"></figcaption>
  </figure>
  <p localeKey="project.whoshoe.suspicious404"></p>
  <figure>
    <p><img src="assets/images/bucket/whoshoe/008.png" [alt]="'project.whoshoe.lookingForSomeOil' | localize" width="310" height="285"></p>
  </figure>
  <figure>
    <p><img src="assets/images/bucket/whoshoe/030.png" [alt]="'project.whoshoe.angry500' | localize" width="715" height="273"></p>
  </figure>
  <p></p>
  <figure>
    <p><img src="assets/images/bucket/whoshoe/010.png" [alt]="'project.whoshoe.filterBlock' | localize" width="281" height="370"></p>
  </figure>
  <figure>
    <p><img src="assets/images/bucket/whoshoe/011.png" [alt]="'project.whoshoe.nonPreciseSize' | localize" width="300" height="336"></p>
    <figcaption localeKey="project.whoshoe.nonPreciseSizeForGreedy"></figcaption>
  </figure>
  <figure>
    <p><img src="assets/images/bucket/whoshoe/014.png" [alt]="'project.whoshoe.floatingBlock' | localize" width="671" height="626"></p>
    <figcaption localeKey="project.whoshoe.filterBlockFloats"></figcaption>
  </figure>
  <p localeKey="project.whoshoe.shoesNeedRest"></p>
  <figure>
    <p><img src="assets/images/bucket/whoshoe/009.png" [alt]="'project.whoshoe.shoesHide' | localize" width="567" height="116"></p>
  </figure>
  <p localeKey="project.whoshoe.adaptiveSite"></p>
  <figure>
    <p><img src="assets/images/bucket/whoshoe/013.png" [alt]="'project.whoshoe.onDesktop' | localize" width="1974" height="781"></p>
    <figure>
    </figure>
    <p><img src="assets/images/bucket/whoshoe/028.png" [alt]="'project.whoshoe.onDesktop' | localize" width="1241" height="824"></p>
  </figure>
  <figure>
    <p><img src="assets/images/bucket/whoshoe/012.png" [alt]="'project.whoshoe.onSmartphone' | localize" width="473" height="734"></p>
  </figure>
  <figure>
    <p><img src="assets/images/bucket/whoshoe/029.png" [alt]="'project.whoshoe.onSmartphone' | localize" width="640" height="667"></p>
    <figcaption localeKey="project.whoshoe.adaptiveBanners"></figcaption>
  </figure>
  <p localeKey="project.whoshoe.sizeChoice"></p>
  <figure>
    <p><img src="assets/images/bucket/whoshoe/016.png" [alt]="'project.whoshoe.productCard' | localize" width="822" height="856"></p>
    <figcaption localeKey="project.whoshoe.similarProducts"></figcaption>
  </figure>
  <figure>
    <p><img src="assets/images/bucket/whoshoe/015.png" [alt]="'project.whoshoe.imageGallery' | localize" width="1256" height="847"></p>
    <figcaption localeKey="project.whoshoe.highQualityImages"></figcaption>
  </figure>
  <p localeKey="project.whoshoe.wholesale"></p>
  <figure>
    <p><img src="assets/images/bucket/whoshoe/017.png" [alt]="'project.whoshoe.twoAndMore' | localize" width="640" height="397"></p>
  </figure>
  <figure>
    <p><img src="assets/images/bucket/whoshoe/018.png" [alt]="'project.whoshoe.fiveAndMore' | localize" width="295" height="381"></p>
    <figcaption localeKey="project.whoshoe.theLargerTheBetter"></figcaption>
  </figure>
  <p localeKey="project.whoshoe.cartCheckout"></p>
  <figure>
    <p><img src="assets/images/bucket/whoshoe/019.png" [alt]="'project.whoshoe.cart' | localize" width="534" height="328"></p>
  </figure>
  <figure>
    <p><img src="assets/images/bucket/whoshoe/020.png" [alt]="'project.whoshoe.checkoutForm' | localize" width="736" height="594"></p>
  </figure>
  <p localeKey="project.whoshoe.checkoutHints"></p>
  <figure>
    <p><img src="assets/images/bucket/whoshoe/021.png" [alt]="'project.whoshoe.phoneNumber' | localize" width="612" height="55"></p>
  </figure>
  <figure>
    <p><img src="assets/images/bucket/whoshoe/022.png" [alt]="'project.whoshoe.personalInfo' | localize" width="751" height="67"></p>
  </figure>
  <figure>
    <p><img src="assets/images/bucket/whoshoe/023.png" [alt]="'project.whoshoe.shippingTypes' | localize" width="650" height="112"></p>
  </figure>
  <p localeKey="project.whoshoe.shippingHints"></p>
  <figure>
    <p><img src="assets/images/bucket/whoshoe/025.png" [alt]="'project.whoshoe.paymentTypes' | localize" width="536" height="116"></p>
  </figure>
  <figure>
    <p><img src="assets/images/bucket/whoshoe/027.png" [alt]="'project.whoshoe.paymentTypeHints' | localize" width="539" height="78"></p>
    <figcaption localeKey="project.whoshoe.addressShipping"></figcaption>
  </figure>
  <p localeKey="project.whoshoe.registration"></p>
  <figure>
    <p><img src="assets/images/bucket/whoshoe/024.png" [alt]="'project.whoshoe.inventPassword' | localize" width="764" height="81"></p>
    <figcaption localeKey="project.whoshoe.generatedPassword"></figcaption>
  </figure>
  <p localeKey="project.whoshoe.loginWidget"></p>
  <figure>
    <p><img src="assets/images/bucket/whoshoe/004.png" [alt]="'project.whoshoe.enter' | localize" width="225" height="166"></p>
    <p localeKey="project.whoshoe.forTheBrave"></p>
    <p><img src="assets/images/bucket/whoshoe/005.png" [alt]="'project.whoshoe.showPassword' | localize" width="221" height="89"></p>
  </figure>
  <p localeKey="project.whoshoe.voila"></p>
  <figure>
    <p><img src="assets/images/bucket/whoshoe/026.png" [alt]="'project.whoshoe.thanks' | localize" width="580" height="110"></p>
  </figure>

  <p localeKey="project.whoshoe.archivedIn"></p>
</article>
